.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: #353535;
  color: #fff;
}

.service:hover {
  background: #fff;
  color: #353535;
}
