.service {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  background: #353535 !important;
  color: #fff !important;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.service:hover {
  background: #5b5b5b !important;
}
