.links-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
}

.social-link {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;
    color:  black;
}

.links-container > a:hover {
    cursor: pointer;
    background: rgb(249, 218, 141);
}

.social-link > span {
    padding-left: 7px;
}

.contractor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contractor-details > div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.contact-field {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.contact-field > span {
    padding-left: 10px;
}

.service-item {
    padding: 5px 8px;
    margin: 5px 5px 0 0;
    border-radius: 5px;  
    text-align: center;
    background: #2b3f48;
    color: white;
}

.details-title {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 650;
    color: #2b3f48;
}
