.contractor-details-container {
    display: flex;
    margin-top: 30px;
}

.contractor-profile-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 30px;
}

.contractor-info-container {
    display: flex;
}

.contact-details-container {
    display: flex; 
    flex-direction: column; 
    width: 250px; 
    max-height: 255px; 
    margin-left: 30px;
    padding-top: 20px;
    background: #20292d;
    color: white;
}

.social-link {
    margin-right: 15px;
    color:  white;
}

.contact-field {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.contact-field > span {
    padding-left: 10px;
}

.service-item {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 4px 6px;
    border-radius: 5px; 
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    background: #e89600;
    color: white;
}

.reviews-container {
    display: flex;
}

@media (max-width: 1024px) {
    .contractor-details-container {
        flex-direction: column;
        margin: auto;
    }

    .contractor-profile-container {
        margin: 0 auto 20px;
    }
}

@media (max-width: 768px) {  
    .contractor-details-container {
        flex-direction: column;
    }

    .contractor-profile-container {
        max-width: 400px;
    }
    
    .contractor-info-container {
        flex-direction: column;
    }

    .contact-details-container {
        width: 100%;
        margin: 20px 0 0;
    }

    .reviews-container {
        flex-direction: column;
    }
}