.contractor-details-page-container {
    padding: 0 2rem 3rem;
    height: 100%;
}

.links-container {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto 20px;
}

.social-link {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color:  black;
}

.links-container > a:hover {
    cursor: pointer;
    background: rgb(249, 218, 141);
}

.social-link > span {
    padding-left: 8px;
}

.no-link {
    color: #e0e0e0;
}

.no-link:hover {
    cursor: default;
}

.contractor-details {
    display: flex;
}

.profile-image-container{
    padding: 20px;
}

.contact-details-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}


@media (max-width: 768px) {
    .links-container {
        margin: 0 auto 20px;
        max-width: 200px;
    }

    .link-text {
        display: none;
    }
}