.job-details {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}

.job-details-column {
  box-sizing: border-box;
}

.job-details-column-1 {
  flex: 65%;
  padding: 0 5px 0 0;
}

.job-details-column-2 {
  flex: 35%;
  padding: 0 0 0 5px;
}

.job-details-card {
  border-radius: 0px !important;
  padding: 0 10px 10px;
  margin-bottom: 10px;
}

.item-title {
  margin: 10px 0 3px;
  font-weight: bold;
  font-family: 'Yantramanav', sans-serif;
}

.item-with-icon {
  display: flex;
  align-Items: center;
}

.status {
  width: 185px;
  text-align: center;
}

.status.cancelled {
  background-color: #bfbfbf;
}

.status.interested {
  background-color: #e8f4fd;
}

.status.required {
  background-color: #f7f494;
}

.status.in-progress {
  background-color: #ffae9a;
}

.status.completed {
  background-color: #a2e481;
}

.content-div {
  display: flex;
  flex-direction: column;
}

.contractor-select {
  display: flex;
  flex-direction: row;
}

.mobile-table {
  width: 100%;
  border-spacing: 0px;
}

.mobile-table > tbody > tr > td {
  text-align: center;
  padding: 5px; 
}

.fee-table {
  border-spacing: 0px;
  margin: 10px 0;
}

@media (min-width: 661px) {
  .deskop-table {
    display: table;
  }
  
  .mobile-table {
    display: none;
  }
}

@media (max-width: 900px) {
  .job-details {
    flex-direction: column-reverse;
  }

  .job-details-column {
    flex: 100%;
    padding: 0px;
  }
}

@media (max-width: 660px) {
  .desktop-table {
    display: none;
  }  
  
  .mobile-table {
    display: table;
  }

  .multi-button {
    flex-direction: column;
  }

  .multi-button > button {
    margin: 0 0 10px !important;
  }
}