.job-details {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

.job-details-column {
  box-sizing: border-box;
}

.job-details-column-1 {
  flex: 65%;
}

.job-details-column-2 {
  flex: 35%;
  padding: 0 0 0 10px;
}

.job-details-card {
  padding: 0 10px 10px;
  margin-bottom: 10px;
  border-radius: 0px !important;
  border: 1px solid #e4e4e4;
  box-shadow: none! important;
}

.item-title {
  margin: 10px 0 1px;
  font-weight: bold;
  font-family: 'Yantramanav', sans-serif;
}

.item-with-icon {
  display: flex;
  align-Items: center;
}

.help-icon {
  height: 18px !important;
  width: 18px !important;
  margin-left: 5px;
  margin-bottom: 1.2px;
  color: #009E2D;
}

.help-icon:hover {
  cursor: pointer;
  color: #00b433;
}

.item-icon {
  color: #303030;
  margin-right: 6px;
  margin-bottom: 2px;
}

.status {
  width: 210px;
  border-radius: 5px !important;
  font-size: 12px !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white !important;
}

.status.cancelled {
  background-color: #919191;
}

.status.interested {
  background-color: #57b6ff;
}

.status.required {
  background-color: #ff8620;
}

.status.in-progress {
  background-color: #ff634f;
}

.status.completed {
  background-color: rgb(30, 161, 30);
}

.alert-msg {
  margin-bottom: 10px;
}

.content-div {
  display: flex;
  flex-direction: column;
}

.contractor-select {
  display: flex;
  flex-direction: row;
}

.mobile-table {
  width: 100%;
  border-spacing: 0px;
}

.mobile-table > tbody > tr > td {
  text-align: center;
  padding: 5px;
}

.fee-table-container {
  max-width: 400px;
  margin-top: 6px;
}

.fee-table {
  width: 100%;
  border-collapse: collapse;
  border: solid #d3d3d3 1px;
}

.table-divider {
  border-top: solid #d3d3d3 1px;
}

.fee-table > tbody > tr > td:nth-child(2) {
  text-align: right;
}

.fee-table > tbody > tr > td {
  padding: 4px 8px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  color: rgb(119, 119, 119);
}

@media (min-width: 661px) {
  .deskop-table {
    display: table;
  }

  .mobile-table {
    display: none;
  }
}

@media (max-width: 900px) {
  .job-details {
    flex-direction: column-reverse;
  }

  .job-details-column {
    flex: 100%;
    padding: 0px;
  }
}

@media (max-width: 660px) {
  .desktop-table {
    display: none;
  }

  .mobile-table {
    display: table;
  }

  .multi-button {
    flex-direction: column;
  }

  .multi-button > button {
    margin: 0 0 10px !important;
  }
}