/* const styles = theme => ({
  textField: {
      width: '90%',
      marginLeft: 'auto',
      marginRight: 'auto',            
      paddingBottom: 0,
      marginTop: 0,
      fontWeight: 500
  },
  input: {
      color: 'white'
  }
}); 

<TextField
    id="email"
    label="Email"
    className={classes.textField}
    value={this.state.form_email}
    onChange={this.handle_change('form_email')}
    margin="normal"
    InputProps={{
        className: classes.input,
    }}
/>
*/
.account-details-container {
  display: flex;
}
.textfield-container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
}
.textfield-container-row {
  display: flex;
  padding: 0.25rem 0;
}
.textfield-container-row > div:first-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 1.5rem;
}
.textfield-container-row > div:nth-child(2) {
  flex: 4;
}
.textfield-container-row > div:nth-child(2) > div {
  width: 100%;
}
@media (min-width: 769px) {
  .account-details-container {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .account-details-container {
    flex-direction: column;
  }
}
