.toolbar-desktop {
  display: block;
}

.toolbar-mobile {
  display: none;
}

.toolbar-top-container {
  width: 100%;
  z-index: 100;
  padding: 5px 0;
  background: #399cdf;
}

.toolbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.socials-container {
  margin-top: 4px;
}

.socials-container a {
  margin-right: 15px;
  color: white;
}

.socials-container a:hover {
  color: #1e5275;
}

.nav-items-top {
  display: flex;
}

.nav-items-top > a {
  text-decoration: none;
}

.nav-item-top {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 15px;
  color: white;
}

.nav-item-top:hover {
  color: #1e5275;
}

.toolbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 80px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.nav-items-bottom {
  display: flex;
  height: 100%;
}

.nav-items-bottom a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding-left: 30px;
}

.nav-items-bottom a:hover {
  text-decoration: underline;
}

.nav-item-bottom {
  margin-right: 0px;
  color: #313131;
}

@media (max-width: 768px) {
  .toolbar-desktop {
    display: none;
  }

  .toolbar-mobile {
    display: block;
  }
}