.services {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: auto;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 150px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.service-title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.service:hover {
  background: rgb(249, 218, 141) !important;
}
