.services {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: auto;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 150px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background: #5c5c5c !important;
}

.service:hover {
  /* box-shadow: 0 0 15px grey; */
  transform: scale(1.05);
}

.service-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color:white;
}