.services {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: auto;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 150px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  background: #3e4244 !important;
}

.service:hover {
  box-shadow: 0 0 15px grey;
  background: orange !important;
}

.service-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color:white;
}