.login-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 48px);
  min-height: 500px;
}

.login-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 440px;
  margin: auto;
  padding: 20px;
}

.login-form-title {
  font-size: 28px;
  margin: 0px;
  padding-bottom: 25px;
  color: #282828;
}

.reset-button-container {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  cursor: pointer;
  padding-bottom: 15px;
}

.forgot-password:hover {
  text-decoration: underline;
  color: #f50057;
}

.reset-password-msg {
  padding-bottom: 15px;
}

.no-account-msg {
  padding-top: 15px;
}
