.reset-password {
  font-size: smaller;
  text-align: right;
  cursor: pointer;
}
.reset-password:hover {
  text-decoration: underline;
  color: #f50057;
}
.reset-password-msg {
  padding-bottom: 5px;
  font-size: smaller;
}
