.App > form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.App > form > * {
  margin: 8px 0;
}

.Error {
  font-size: smaller;
  color: #ab3535;
}
