.app-container {
  height: 100%;
}

.page-container {
  max-width: 1250px;
  margin: auto;
  padding: 0 40px 20px;
}

.form-title {
  text-align: left;
  font-size: 20px;
}

.textfield-container {
  width: 100%;
  box-sizing: border-box;
}

.textfield-container-row {
  display: flex;
  justify-content: space-between;
}

.textfield-container-col {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  flex: 1;
}

.textfield-container-col:first-child {
  padding-right: 5px;
}

.textfield-container-col:last-child {
  padding-left: 5px;
}

.textfield-container-col:not(:first-child):not(:last-child) {
  padding-left: 5px;
  padding-right: 5px;
}

:not(.textfield-container-row) > .textfield-container-col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.spacer {
  flex-grow: 1;
}

.button-container {
  display: flex;
  margin: 10px 0;
}

.button-container > button {
  margin-right: 10px;
}

.field-desc {
  display: block;
  margin: 5px 0 17px 0;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 660px) {
  .page-container {
    padding: 0 20px 20px;
  }

  .textfield-container-row {
    flex-direction: column;
  }

  .textfield-container-col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}