.app-container {
  height: 100%;
}
.form-title {
  text-align: left;
  font-size: 20px;
}
/* .site-title {
  text-align: center;
} */
.login-form {
  max-width: 450px;
  width: 85%;
  margin: 30px auto 0;
  padding: 10px;
}
.login-form > form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.login-form > form > * {
  margin: 8px 0;
}
