html {
  height: 100%;
  background: #fbfbfb;
}

body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  font-family: 'Varela', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  color: #e89600;
}