.home-title {
  text-align: center;
  font-size: 35px;
  color: rgb(40, 40, 40);
  margin: 0;
  padding-bottom: 20px;
}

.intro-container, .info-container, .footer-container {
  padding: 70px 0 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

.intro-photo {
  padding-right: 30px;
}

.intro-photo img {
  border-radius: 75px;
}

.intro-desc {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  font-size: 18px;
  padding: 15px;
}

.info-container {
  background: #84efe1;
}

.card-container {
  display: flex;   
  max-width: 900px;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 300px;
  margin: 15px;
  padding: 20px;
  border-radius: 0 !important;
  font-size: 17px;
  text-align: center;
  background-color: #fdc944 !important;
}

.home-button {
  width: 150px;
  margin: 10px auto !important;
  background: rgb(40, 40, 40) !important;
}

.card-icon {
  margin: 0 auto;
  padding: 15px;
  color: rgb(40, 40, 40);
}

.footer-container {
  background: #282828;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #fbfbfb;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  margin: 3px 10px;
}

.footer-link:hover {
  text-decoration: underline;
}

.with-icon {
  margin: 10px;
}

.footer-title {
  font-weight: bold;
  padding-bottom: 4px;
}

.copyright-msg {
  text-align: center;
  padding: 50px 30px 0;
  margin: 0px;
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .intro-container, .info-container, .footer-container {
    padding: 30px 0;
  }

  .intro {    
    padding: 0 10px;
  }

  .intro-photo {
    margin: auto;
    padding: 10px 0 0;
  }

  .intro-desc {
    padding: 10px;
  }

  .card-container {
    flex-direction: column;
    max-width: 320px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-link {
    font-size: 20px !important;
  }
  
  .copyright-msg {
    margin: 0 20px;
  }

}