.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  max-width: 1100px; 
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.banner-container {
  display: flex;
  align-items: center;
  max-width: 1100px; 
  height: 100%;
  padding: 0 20px;
  margin: auto;
  box-sizing: border-box; 
  font-size: 32px;
  color: #FFF;
}

.banner-container > div {
  flex: 1;
}

.verbiage-container {
  display: flex;
  max-width: 950px; 
  padding: 0 20px;
  margin: auto;
  box-sizing: border-box; 
}

.verbiage-container > div {
  flex: 1;
}

.img-container {
  text-align: right;
}

.card-container {
  display: flex;
  justify-content: space-between;
  max-width: 1050px; 
  margin: auto;
  padding: 20px;
  box-sizing: border-box; 
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 290px;
  height: 375px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  background-color: #263137;
  color: #e9e9e9;
}

.card:nth-of-type(odd) {
  margin-top: 20px;
}

.card:nth-child(2) {
  margin: 20px 20px 0;
}

.card > div {
  width: 100%;
  height: 240px; 
}

.card-icon {
  width: 90px;
  margin: 0 auto;
}

.testimonial-container {
  display: flex; 
  max-width: 900px; 
  height: 425px;
  margin: 40px auto;
  background: grey;
}

.testimonial-main {
  display: flex; 
  flex: 1;
}

.testimonial-main > div {
  flex: 1;
}

.footer-container {
  background: #263137;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #fbfbfb;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  margin: 3px 10px;
}

.footer-link:hover {
  color: #1e5275;
}

.with-icon {
  margin: 10px;
}

.copyright-msg {
  text-align: center;
  padding: 50px 30px 0;
  margin: 0px;
  font-size: 16px;
  color: white;
}

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
  }

  .verbiage-container {
    flex-direction: column;
  }

  .img-container {
    text-align: center;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    margin: 20px auto 0 !important;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-link {
    font-size: 18px !important;
  }
  
  .copyright-msg {
    margin: 0 20px;
  }
}